.habit-block {
    display: grid;
    width: 100%;
    border: 1px blueviolet solid;
    border-radius: 10px;
    background-color: blueviolet;
    margin: 10px 0;
    /* gap: 10px; */
    padding: 5px 0;
    box-sizing: border-box;
}
.habit-header {
    padding: 0 10px;
}
.habit-checks-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.habit-check {
    text-align: center;
}