.day-0,
.day-1,
.day-2,
.day-3,
.day-4,
.day-5,
.day-6 {
  flex: 1;
  min-width: 0;
}

.calendar-day {
  display: grid;
  color: rgb(198, 198, 198);
  width: auto;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  box-sizing: border-box;
  border: 1px rgba(179, 179, 179, 0) solid;
}
.calendar-day:hover {
  border: 1px rgba(179, 179, 179, 0.656) solid;
  border-radius: 10px;
  cursor: pointer;
}
.calendar-day--active {
  background-color: blueviolet;
  color: white;
  border-color: rgb(130, 26, 227);
  border-radius: 10px;

  .weekday-title {
    color: rgb(255, 255, 255);
  }
}
.weekday-title {
  color: gray;
}
.day-body {
  display: grid;
  justify-content: center;
}
.day-hastasks {
  height: 4px;
  margin-top: 5px;
}

.hastasks-mark {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 auto;
}
